consumo_de_tarjeta.json
[{"createdAt":"2025-06-19T13:34:28.182Z","updatedAt":"2025-10-09T21:27:12.234Z","id":"RdgLOANtYgsuRo6a","name":"consumo de tarjeta","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"7de7c1c7-9e89-4be6-a3a3-b9835416164c","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","limit":150,"filters":{"q":"subject:(Alerta de Consumo Realizado con su Tarjeta Banesco)","readStatus":"unread"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[224,0],"id":"457e042c-62e9-4cfc-921c-ab3be5153997","name":"Gmail","webhookId":"d023f79a-bbcd-4bf8-95ce-1730c5b2f717","credentials":{"gmailOAuth2":{"id":"2NPxYcPwJmkUCEtV","name":"Gmail n8n v2"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_nGTddktzkODCk7HRtgVq3VYi","mode":"list","cachedResultName":"Revisar Tarjeta de credito "},"prompt":"define","text":"=extrae los datos de monto y lugar de consumo del siguiente texto {{ $json.snippet }} devulve un json y solo el json con los datos de fecha  {{ $json.internalDate }}  el ID del mensaje {{ $json.id }}  y los datos previamente extraidos tambien añade el estado de unread {{ $json.labels[2].name }}  solo devuelve el json no devuelvas ningun comentario o texto adicional el formato simpre de tener estos nombres \n\"monto\": 12,21\n\"comercio\": \n\"fecha\": \n\"id_mensaje\": \n\"estado\": ","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[512,0],"id":"163fa5bd-3221-4fbb-a9f9-322978057ab6","name":"OpenAI","credentials":{"openAiApi":{"id":"MtUfEa66GZKrxmvu","name":"OpenAi account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso","mode":"list","cachedResultName":"Tarjetas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Gmail').item.json.id }}","comercio":"={{ $json.comercio }}","monto":"={{ $json.monto }}","fecha":"={{ $json.fecha }}","moneda":"USD","status":"=","Leido":"{{ $json.unread }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"comercio","displayName":"comercio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto","displayName":"monto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"moneda","displayName":"moneda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpeta","displayName":"Carpeta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Leido","displayName":"Leido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ejecucion","displayName":"ejecucion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"0","displayName":"0","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1152,0],"id":"a428fcb9-1696-4647-b989-06413778665a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"K7DkPoSzMOpMhZh9","name":"n8n free"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n//$input.item.json.myNewField = 1;\n// Encuentra el primer { y el último }\nlet startIndex = $json.output.indexOf(\"{\");\nlet endIndex = $json.output.lastIndexOf(\"}\") + 1;\n\n// Extrae solo el JSON válido\nlet jsonString = $json.output.substring(startIndex, endIndex);\n\n\nlet dataObject;\ntry {\n  dataObject = JSON.parse(jsonString);\n} catch (e) {\n  // Si la conversión a JSON falla, devuelve un error\n  throw new Error('Error al parsear el JSON: ' + e.message);\n}\nconst date = new Date(dataObject.fecha);\n\nconst year = date.getUTCFullYear();\nconst month = String(date.getUTCMonth() + 1).padStart(2, '0'); // +1 porque enero = 0\nconst day = String(date.getUTCDate()).padStart(2, '0');\n\nconst formattedDate = `${year}-${month}-${day}`;\ndataObject.fecha =formattedDate;\n\nreturn dataObject;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,0],"id":"3b2a69f3-9778-4670-b5eb-765690fedd23","name":"Code"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[80,288],"id":"ccb20d9d-7805-4a48-b9c8-0d4d1c98ba2d","name":"n8n Trigger"},{"parameters":{"method":"PUT","url":"https://n8n.josearosemena.site/webhook/19b85d85-fda8-4e4b-ba07-2d4452bde04e","sendQuery":true,"queryParameters":{"parameters":[{"name":"WorkflowID","value":"={{ $json.workflow_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,288],"id":"88f0d243-4e26-4347-91aa-2f32722962ad","name":"HTTP Request2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95c6dc1a-8005-4ceb-88a0-651d04f015d5","triggerCount":0,"shared":[{"createdAt":"2025-06-19T13:34:28.182Z","updatedAt":"2025-06-19T13:34:28.182Z","role":"workflow:owner","workflowId":"RdgLOANtYgsuRo6a","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-10-09T16:24:47.305Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[]}]