Create_Week_Menu.json
[{"createdAt":"2025-03-13T12:30:57.870Z","updatedAt":"2025-10-09T21:26:55.195Z","id":"suusE5AWquqA6e3w","name":"Create Week Menu","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"656345a7-701b-4d59-a933-a4b664cab58d","name":"Schedule Trigger"},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"=Eres un asistente de planificación de menús semanales. Tu tarea es generar un menú semanal (de lunes a domingo) que incluya desayunos, almuerzos y cenas, siguiendo estas instrucciones:\n\nUtiliza la herramienta de Airtable para obtener:\n\nLa lista de todos los posibles desayunos, almuerzos y cenas de la \"Tabla de Menús\".\n\nLas restricciones {{ $json.data[2].data }}\n\nno puedes repetir menu de la semana anterior {{ $json.data[1].data }}.\n\nFiltra los platos que cumplan con las restricciones  y asegúrate de que no se repitan platos de la semana anterior.\n\nGenera un menú equilibrado y variado para cada día de la semana, incluyendo desayuno, almuerzo y cena.\n\nDevuelve el menú en formato XML, con la estructura:\n\n<menu><semana codigo=\"2023-40\"><detail><dia>Lunes</dia><fecha>2023-10-02</fecha><desayuno codigo=\"D001\"><nombre>Tostadas con aguacate</nombre></desayuno><almuerzo codigo=\"A001\"><nombre>Ensalada César</nombre></almuerzo><cena codigo=\"C001\"><nombre>Salmón al horno</nombre></cena></detail><detail><dia>Martes</dia><fecha>2023-10-03</fecha><desayuno codigo=\"D002\"><nombre>Yogur con granola</nombre></desayuno><almuerzo codigo=\"A002\"><nombre>Pasta integral con pesto</nombre></almuerzo><cena codigo=\"C002\"><nombre>Pollo a la plancha</nombre></cena></detail><detail><dia>Miércoles</dia><fecha>2023-10-04</fecha><desayuno codigo=\"D003\"><nombre>Batido de frutas</nombre></desayuno><almuerzo codigo=\"A003\"><nombre>Sopa de verduras</nombre></almuerzo><cena codigo=\"C003\"><nombre>Filete de ternera</nombre></cena></detail><detail><dia>Jueves</dia><fecha>2023-10-05</fecha><desayuno codigo=\"D004\"><nombre>Tortilla española</nombre></desayuno><almuerzo codigo=\"A004\"><nombre>Arroz con pollo</nombre></almuerzo><cena codigo=\"C004\"><nombre>Pescado al vapor</nombre></cena></detail></semana></menu>\nSi no hay suficientes platos disponibles o hay restricciones contradictorias, puedes repetir platos o sugerir platos nuevos.\n\nAsegúrate de que el menú pertenezca a la semana {{ $json.data[3]['Código de semana'][0] }} y que el menú siempre empiece el lunes. El próximo lunes que debe iniciar el menú es {{ $json.data[3]['Fecha del siguiente lunes'][0] }}","options":{"systemMessage":"the response only can have xml in line without any special caracter \n","maxIterations":4}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2032,368],"id":"fdf3aa94-e794-4966-872b-bd8821efd914","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"maxTokens":-1}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1808,624],"id":"e2322ff7-bb8e-480c-a084-c8bb8c0104a3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MtUfEa66GZKrxmvu","name":"OpenAi account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"menusemanal","contextWindowLength":3},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2000,592],"id":"4772a888-a8ef-4552-a33b-15eb7567b626","name":"Window Buffer Memory"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tbl7SMLn0qfyCVvwa","mode":"list","cachedResultName":"Desayuno","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tbl7SMLn0qfyCVvwa"},"filterByFormula":"Status=\"Activo\"","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2160,592],"id":"732f28ff-05df-4467-a4d3-ae00bc3c8eb5","name":"Desayuno","credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tblKgX6ZViukwDhtF","mode":"list","cachedResultName":"Cenas","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tblKgX6ZViukwDhtF"},"filterByFormula":"Status=\"Activo\"","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2272,592],"id":"e8d91176-73ce-477b-bb5b-86ee5735b35f","name":"Cenas","credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tblgCzeGpmMsZlMcD","mode":"list","cachedResultName":"Almuerzo","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tblgCzeGpmMsZlMcD"},"filterByFormula":"Status=\"Activo\"","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2384,592],"id":"5be717f6-8ed5-4ddc-a701-ebb71b60ae8f","name":"Almuerzos","credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"language":"python","pythonCode":"import datetime\n\ndef obtener_informacion_fecha():\n    # Obtener la fecha actual\n    fecha_actual = datetime.datetime.now()\n\n    # Obtener el número de la semana y el año\n    año, numero_semana, _ = fecha_actual.isocalendar()\n\n    # Calcular el código de la semana anterior\n    if numero_semana == 1:\n        # Si es la primera semana del año, la semana anterior es la última del año anterior\n        año_anterior = año - 1\n        numero_semana_anterior = datetime.date(año_anterior, 12, 31).isocalendar()[1]\n    else:\n        # Restar 1 a la semana actual\n        año_anterior = año\n        numero_semana_anterior = numero_semana - 1\n\n    # Obtener el número del día en la semana (1 para lunes, 7 para domingo)\n    numero_dia_semana = fecha_actual.isocalendar()[2]\n\n    # Calcular la fecha del siguiente lunes de la siguiente semana\n    dias_para_siguiente_lunes = (7 - numero_dia_semana) + 1\n    siguiente_lunes = fecha_actual + datetime.timedelta(days=dias_para_siguiente_lunes)\n\n    # Crear el código de semana concatenando el año y el número de la semana\n    codigosemana = f\"{año}-{numero_semana:02d}\"  # Formato: AAAA-SS (ejemplo: 2023-40)\n\n    # Crear el código de semana concatenando el año y el número de la semana\n    codigosemanaanterior = f\"{año}-{numero_semana_anterior:02d}\"  # Formato: AAAA-SS (ejemplo: 2023-40)\n  \n    # Crear un array de diccionarios con la información\n    informacion_fecha = [\n        {\"Fecha del día\": fecha_actual.strftime('%Y-%m-%d')},\n        {\"Número de la semana\": numero_semana},\n        {\"Número del día en la semana\": numero_dia_semana},\n        {\"Fecha del siguiente lunes\": siguiente_lunes.strftime('%Y-%m-%d')},\n        { \"Código de semana\": codigosemana},\n        {\"codigosemanaanterior\":codigosemanaanterior}\n    ]\n\n    return informacion_fecha\n\n# Llamar a la función y obtener el array de diccionarios\nreturn  obtener_informacion_fecha()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"b64b1820-06d8-4e22-ba6f-0a58b4e3f539","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"73a04075-02f1-422e-9d9d-26e01dbac02d","name":"xml","value":"={{ $json.output.substring($json.output.indexOf(\"<menu\"),$json.output.indexOf(\"/menu\")+6).replaceAll(\"\\n\",\"\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2672,368],"id":"d6f28871-aaad-4cb5-86b3-bd8dc13cc16d","name":"Edit Fields"},{"parameters":{"dataPropertyName":"=xml","options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[2848,368],"id":"2314c9d7-4ed4-40ce-b7de-00440cf8d5c7","name":"XML"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tbl12lnY6ga6CQofE","mode":"list","cachedResultName":"historial","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tbl12lnY6ga6CQofE"},"columns":{"mappingMode":"defineBelow","value":{"IDSemana":"={{ $('XML').item.json.menu.semana.codigo }}","diaSemana":"={{ $json.dia }}","Fecha":"=\"{{ $json.fecha }}\"","CodigoDesayuno":"={{ $json.desayuno.codigo }}","Desayuno":"={{ $json.desayuno.nombre }}","CodigoAlmuerzo":"={{ $json.almuerzo.codigo }}","Almuerzo":"={{ $json.almuerzo.nombre }}","CodigoCena":"={{ $json.cena.codigo }}","Cena":"={{ $json.cena.nombre }}"},"matchingColumns":["IDSemana","Fecha"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"IDSemana","displayName":"IDSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"diaSemana","displayName":"diaSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CodigoDesayuno","displayName":"CodigoDesayuno","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Desayuno","displayName":"Desayuno","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CodigoAlmuerzo","displayName":"CodigoAlmuerzo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Almuerzo","displayName":"Almuerzo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CodigoCena","displayName":"CodigoCena","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cena","displayName":"Cena","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,368],"id":"982caa2c-83e4-4e80-b197-19609c08e2b1","name":"Airtable","credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tbl12lnY6ga6CQofE","mode":"list","cachedResultName":"historial","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tbl12lnY6ga6CQofE"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1200,-160],"id":"452efe87-a559-42f6-8ea3-c41d45e97aa8","name":"Airtable1","alwaysOutputData":true,"notesInFlow":false,"credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tbl12lnY6ga6CQofE","mode":"list","cachedResultName":"historial","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tbl12lnY6ga6CQofE"},"filterByFormula":"=IDSemana=\"{{ $('Aggregate').item.json.codigosemanaanterior[0] }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[848,0],"id":"fa75ef62-6a51-40f7-97b1-0905f6732f15","name":"Airtable2","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7841e695-3905-4fd1-899c-f300eb60b004","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,0],"id":"ed16bae2-dd5b-4ca4-8543-17293e5b76b8","name":"If"},{"parameters":{"fieldToSplitOut":"menu.semana.detail","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3088,368],"id":"308ca5a0-bda0-4e45-afe5-f3ad209a4995","name":"Split Out1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Fecha del día"},{"fieldToAggregate":"Número de la semana"},{"fieldToAggregate":"Número del día en la semana"},{"fieldToAggregate":"Fecha del siguiente lunes"},{"fieldToAggregate":"Código de semana"},{"fieldToAggregate":"codigosemanaanterior"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[432,0],"id":"44662265-5883-4c29-b8b6-55c37b3ff0d8","name":"Aggregate"},{"parameters":{"url":"https://n8n.josearosemena.site/webhook/2e9ac652-87ab-4aea-9330-15f18b08c666","sendQuery":true,"queryParameters":{"parameters":[{"name":"IDSemana","value":"={{ $json.IDSemana[0] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3680,368],"id":"c96f9ff1-21fc-4030-a26d-3c3453f00dab","name":"HTTP Request"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"fields.IDSemana"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3488,368],"id":"ccf98b05-0470-4bad-ae6f-adc37ac143c2","name":"Aggregate1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tblewvfeOa8YxK4Tf","mode":"list","cachedResultName":"Restricciones","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tblewvfeOa8YxK4Tf"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[848,432],"id":"68318415-12cc-40bd-9be5-3c5c3eef6a90","name":"restriction2","credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appKvNDfrx4UVjp7w","mode":"list","cachedResultName":"Menús Semanales.xlsx","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w"},"table":{"__rl":true,"value":"tbl12lnY6ga6CQofE","mode":"list","cachedResultName":"historial","cachedResultUrl":"https://airtable.com/appKvNDfrx4UVjp7w/tbl12lnY6ga6CQofE"},"filterByFormula":"=IDSEMANA = \"2025-16\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[848,240],"id":"e532f6e8-355c-4b2b-a5d4-3f181c2503e8","name":"lastweek","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"FuzK988Y4QrhIG6r","name":"Airtable Token 2"}}},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1488,352],"id":"a829e893-a65a-479e-a452-b2fe66e382f2","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1072,464],"id":"8761229d-3e5f-45e7-b7a5-9c46872946ea","name":"restrictions"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,240],"id":"abe54b46-4685-4309-a784-949b16b86b99","name":"Lastweek"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1712,352],"id":"fd02af55-2d09-455e-a633-7790ce52a688","name":"Aggregate2"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[448,832],"id":"7490ba46-4c4e-48e4-9c07-2c54dff0cea7","name":"n8n Trigger"},{"parameters":{"method":"PUT","url":"https://n8n.josearosemena.site/webhook/19b85d85-fda8-4e4b-ba07-2d4452bde04e","sendQuery":true,"queryParameters":{"parameters":[{"name":"WorkflowID","value":"={{ $json.workflow_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,832],"id":"c7150524-f010-485e-9742-20943d48050d","name":"HTTP Request2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Desayuno":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cenas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Almuerzos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"XML","type":"main","index":0}]]},"XML":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Airtable1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Airtable2":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Airtable1","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"lastweek","type":"main","index":0},{"node":"Airtable2","type":"main","index":0},{"node":"restriction2","type":"main","index":0},{"node":"Merge","type":"main","index":3}]]},"Airtable":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"restriction2":{"main":[[{"node":"restrictions","type":"main","index":0}]]},"lastweek":{"main":[[{"node":"Lastweek","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"restrictions":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Lastweek":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-04-18T16:00:31.548-05:00","Readable date":"April 18th 2025, 4:00:31 pm","Readable time":"4:00:31 pm","Day of week":"Friday","Year":"2025","Month":"April","Day of month":"18","Hour":"16","Minute":"00","Second":"31","Timezone":"America/Bogota (UTC-05:00)"}}]},"versionId":"5d614a00-67a8-47ee-8565-90739351bc53","triggerCount":1,"shared":[{"createdAt":"2025-03-13T12:30:57.870Z","updatedAt":"2025-03-13T12:30:57.870Z","role":"workflow:owner","workflowId":"suusE5AWquqA6e3w","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-10-09T16:24:47.305Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[{"createdAt":"2025-03-13T12:31:18.290Z","updatedAt":"2025-03-13T12:31:18.290Z","id":"fdpObYfchv5vZmwl","name":"Personal"}]}]