Create_Week_Menu_supabase.json
[{"createdAt":"2025-06-10T02:13:30.878Z","updatedAt":"2025-10-09T21:20:51.375Z","id":"tglYbRSQQcMPexbK","name":"Create Week Menu supabase","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":16}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[2960,0],"id":"5c97a829-ad64-4b12-bc96-a47d7b28c3e6","name":"Schedule Trigger"},{"parameters":{"language":"python","pythonCode":"import datetime\n\ndef obtener_informacion_fecha():\n    # Obtener la fecha actual\n    fecha_actual = datetime.datetime.now()\n\n    # Obtener el número de la semana y el año\n    año, numero_semana, _ = fecha_actual.isocalendar()\n\n    # Calcular el código de la semana anterior\n    if numero_semana == 1:\n        # Si es la primera semana del año, la semana anterior es la última del año anterior\n        año_anterior = año - 1\n        numero_semana_anterior = datetime.date(año_anterior, 12, 31).isocalendar()[1]\n    else:\n        # Restar 1 a la semana actual\n        año_anterior = año\n        numero_semana_anterior = numero_semana - 1\n\n    # Obtener el número del día en la semana (1 para lunes, 7 para domingo)\n    numero_dia_semana = fecha_actual.isocalendar()[2]\n\n    # Calcular la fecha del siguiente lunes de la siguiente semana\n    dias_para_siguiente_lunes = (7 - numero_dia_semana) + 1\n    siguiente_lunes = fecha_actual + datetime.timedelta(days=dias_para_siguiente_lunes)\n\n    # Crear el código de semana concatenando el año y el número de la semana\n    codigosemana = f\"{año}-{numero_semana:02d}\"  # Formato: AAAA-SS (ejemplo: 2023-40)\n\n    # Crear el código de semana concatenando el año y el número de la semana\n    codigosemanaanterior = f\"{año}-{numero_semana_anterior:02d}\"  # Formato: AAAA-SS (ejemplo: 2023-40)\n  \n    # Crear un array de diccionarios con la información\n    informacion_fecha = [\n        {\"Fecha del día\": fecha_actual.strftime('%Y-%m-%d'),\n        \"Número de la semana\": numero_semana,\n        \"Número del día en la semana\": numero_dia_semana,\n        \"Fecha del siguiente lunes\": siguiente_lunes.strftime('%Y-%m-%d'),\n         \"Código de semana\": codigosemana,\n        \"codigosemanaanterior\":codigosemanaanterior}\n    ]\n\n    return informacion_fecha\n\n# Llamar a la función y obtener el array de diccionarios\nreturn  obtener_informacion_fecha()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3184,0],"id":"d1049d9a-7935-41b5-9895-52eabfad5397","name":"Code"},{"parameters":{"url":"https://n8n.josearosemena.site/webhook/2e9ac652-87ab-4aea-9330-15f18b08c666","sendQuery":true,"queryParameters":{"parameters":[{"name":"IDSEMANA","value":"={{ $('Code').item.json['Código de semana'] }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4752,0],"id":"d69f2c4d-2e9d-4c8a-a4d9-778044cf622a","name":"HTTP Request"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4512,0],"id":"3d6157d6-9d10-4266-a783-1ae0bccb8a76","name":"Aggregate1"},{"parameters":{"url":"https://us-central1-encoded-pointer-451003-p5.cloudfunctions.net/Get-MenuSemanal","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3440,0],"id":"7616fee8-f888-4618-a325-bbedffe17315","name":"HTTP Request1"},{"parameters":{"tableId":"MenuSemanal","fieldsUi":{"fieldValues":[{"fieldId":"IDSemana","fieldValue":"={{ $json.IDSemana }}"},{"fieldId":"DiaSemana","fieldValue":"={{ $json.DiaSemana }}"},{"fieldId":"CodigoDesayuno","fieldValue":"={{ $json.CodigoDesayuno }}"},{"fieldId":"DescDesayuno","fieldValue":"={{ $json.DescDesayuno }}"},{"fieldId":"CodigoAlmuerzo","fieldValue":"={{ $json.CodigoAlmuerzo }}"},{"fieldId":"DescAlmuerzo","fieldValue":"={{ $json.DescAlmuerzo }}"},{"fieldId":"CodigoCena","fieldValue":"={{ $json.CodigoCena }}"},{"fieldId":"DescCena","fieldValue":"={{ $json.DescCena }}"},{"fieldId":"Fecha","fieldValue":"={{ $json.Fecha }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4288,0],"id":"ed43e437-55c2-4db7-a0df-835dfc5aa1b6","name":"Supabase","credentials":{"supabaseApi":{"id":"jxrwBprqrAGlekwt","name":"Supabase account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4064,0],"id":"93e5816b-8778-4098-9e58-790dc1bf1e08","name":"Split Out"},{"parameters":{"operation":"delete","tableId":"MenuSemanal","filters":{"conditions":[{"keyName":"IDSemana","condition":"eq","keyValue":"={{ $json.data[0].IDSemana }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3808,-208],"id":"013147c8-00fe-4654-b15f-e3d526e17e1b","name":"DeleteMenuIfExist","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"jxrwBprqrAGlekwt","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3808,0],"id":"2bac54e1-f97a-49fb-9c6e-5e9c4807ec1a","name":"Wait","webhookId":"506b8f94-6f85-49c8-8bea-88986faa864f"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[3936,368],"id":"f4ac6fc9-6294-4a4c-af51-753e9e9758b9","name":"n8n Trigger"},{"parameters":{"method":"PUT","url":"https://n8n.josearosemena.site/webhook-test/19b85d85-fda8-4e4b-ba07-2d4452bde04e","sendQuery":true,"queryParameters":{"parameters":[{"name":"WorkflowID","value":"={{ $json.workflow_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4144,368],"id":"b48678d8-a74c-491b-90c9-8ad1317e74e7","name":"HTTP Request2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"DeleteMenuIfExist","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"DeleteMenuIfExist":{"main":[[]]},"Wait":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-04-18T16:00:31.548-05:00","Readable date":"April 18th 2025, 4:00:31 pm","Readable time":"4:00:31 pm","Day of week":"Friday","Year":"2025","Month":"April","Day of month":"18","Hour":"16","Minute":"00","Second":"31","Timezone":"America/Bogota (UTC-05:00)"}}]},"versionId":"0579b70b-e030-41d7-8e29-1d2ef17ee410","triggerCount":2,"shared":[{"createdAt":"2025-06-10T02:13:30.878Z","updatedAt":"2025-06-10T02:13:30.878Z","role":"workflow:owner","workflowId":"tglYbRSQQcMPexbK","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-10-09T16:24:47.305Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[{"createdAt":"2025-03-13T12:31:18.290Z","updatedAt":"2025-03-13T12:31:18.290Z","id":"fdpObYfchv5vZmwl","name":"Personal"}]}]