mover_correos_despues_de_pago_de_tarjeta.json
[{"createdAt":"2025-06-21T15:41:24.584Z","updatedAt":"2025-10-09T21:28:31.221Z","id":"kmIS7D6wA30cmHYq","name":"mover correos despues de pago de tarjeta","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"caf97529-a9b5-4241-828a-7e659b30cc5d","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso","mode":"list","cachedResultName":"Tarjetas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ejecucion","lookupValue":"1"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[224,0],"id":"f34823d6-f907-44f6-ae20-ee000c37f39a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"K7DkPoSzMOpMhZh9","name":"n8n free"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,0],"id":"09ff4263-7b79-4a03-a0aa-d65b7de75b8c","name":"Gmail","webhookId":"d31db0c1-26da-46f4-b44c-ab0096b13193","credentials":{"gmailOAuth2":{"id":"2NPxYcPwJmkUCEtV","name":"Gmail n8n v2"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_9165678913465161347"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,-160],"id":"97d4b5ac-ba4c-4b17-8546-75fb7e0eda56","name":"Gmail1","webhookId":"0ed1303b-4adf-4f09-8eb1-e1d52537e71f","credentials":{"gmailOAuth2":{"id":"2NPxYcPwJmkUCEtV","name":"Gmail n8n v2"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[448,192],"id":"b0891e09-07fb-427f-9093-ec671af63af1","name":"Gmail2","webhookId":"2060fff3-2046-4187-a128-922922ddb849","credentials":{"gmailOAuth2":{"id":"2NPxYcPwJmkUCEtV","name":"Gmail n8n v2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso","mode":"list","cachedResultName":"Tarjetas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RWVRkdONRafVp89uAFi5Ja5O0rmsg0AyD8M-qBJCMso/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","comercio":"={{ $json.comercio }}","monto":"={{ $json.monto }}","moneda":"={{ $json.moneda }}","fecha":"={{ $json.fecha }}","Carpeta":"={{ $json.Carpeta }}","Leido":"={{ $json.Leido }}","status":"Pagado","ejecucion":"0"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"comercio","displayName":"comercio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"monto","displayName":"monto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"moneda","displayName":"moneda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Carpeta","displayName":"Carpeta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Leido","displayName":"Leido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ejecucion","displayName":"ejecucion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[464,320],"id":"cd598391-faa5-49af-9ad5-6b595e123cf2","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"K7DkPoSzMOpMhZh9","name":"n8n free"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-16,640],"id":"6211a300-f604-417c-9847-8a8a928a09e3","name":"n8n Trigger"},{"parameters":{"method":"PUT","url":"https://n8n.josearosemena.site/webhook/19b85d85-fda8-4e4b-ba07-2d4452bde04e","sendQuery":true,"queryParameters":{"parameters":[{"name":"WorkflowID","value":"={{ $json.workflow_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,640],"id":"06ff27e9-0fdf-4e30-a4cf-3d029cac0384","name":"HTTP Request2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Gmail","type":"main","index":0},{"node":"Gmail1","type":"main","index":0},{"node":"Gmail2","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}]]},"Gmail":{"main":[[]]},"n8n Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caaa545a-3232-4701-ba98-7b37eed8c657","triggerCount":0,"shared":[{"createdAt":"2025-06-21T15:41:24.584Z","updatedAt":"2025-06-21T15:41:24.584Z","role":"workflow:owner","workflowId":"kmIS7D6wA30cmHYq","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-10-09T16:24:47.305Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[]}]