SaveRepoGuitHub.json
[{"createdAt":"2025-10-04T12:21:04.274Z","updatedAt":"2025-10-09T21:07:37.123Z","id":"N0RxnJtZsItUnAfq","name":"SaveRepoGuitHub","active":false,"isArchived":false,"nodes":[{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-496,-16],"id":"7762b961-673b-49f1-977b-603c15d4c2d7","name":"n8n Trigger","alwaysOutputData":true},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-288,-16],"id":"a74eb8a5-45d8-4e85-9739-c7146f342b09","name":"Get a workflow","credentials":{"n8nApi":{"id":"avV0hFDmppcdAnRb","name":"n8n internal"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"jarosemena","mode":"name"},"repository":{"__rl":true,"value":"n8n-Repository","mode":"list","cachedResultName":"n8n-Repository","cachedResultUrl":"https://github.com/jarosemena/n8n-Repository"},"filePath":"={{ $('FileName').item.json.name }}","fileContent":"={{ JSON.stringify($('Code in JavaScript').item.json.datafile)}}","commitMessage":"Update on n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[688,-144],"id":"596d06e2-fcfb-4c90-aa3b-586267ca4ab7","name":"Edit a file","webhookId":"d1b351c1-fba4-4543-b51b-e5d9f307f703","credentials":{"githubOAuth2Api":{"id":"LneLlU7oB6h73VKJ","name":"GitHub account"}}},{"parameters":{"jsCode":"return [{\n  json: {\n    datafile: $input.all().map(item => item.json)\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-16],"id":"dd311313-fd12-4e70-8720-5ea3b356732f","name":"Code in JavaScript"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"jarosemena","mode":"name"},"repository":{"__rl":true,"value":"n8n-Repository","mode":"list","cachedResultName":"n8n-Repository","cachedResultUrl":"https://github.com/jarosemena/n8n-Repository"},"filePath":"={{ $('FileName').item.json.name }}","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[384,-16],"id":"97a272ea-9604-45af-a0b8-ab234274ce48","name":"Get a file","webhookId":"240ff241-c399-4662-b2e3-f45884342f77","credentials":{"githubOAuth2Api":{"id":"LneLlU7oB6h73VKJ","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"21e2427d-8a61-4cfc-a00d-299293cc0b3d","name":"name","value":"={{ $json.name.replaceAll(\" \",\"_\") }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-16],"id":"1ae727ea-8400-43f2-b42e-33ae4e550a9f","name":"FileName"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"jarosemena","mode":"name"},"repository":{"__rl":true,"value":"n8n-Repository","mode":"list","cachedResultName":"n8n-Repository","cachedResultUrl":"https://github.com/jarosemena/n8n-Repository"},"filePath":"={{ $('FileName').item.json.name }}","fileContent":"={{ JSON.stringify($('Code in JavaScript').item.json.datafile)}}","commitMessage":"Create new file"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[704,80],"id":"63a06355-9ea0-406e-b0bf-4f2b16f23440","name":"Create a file","webhookId":"48289d39-84d0-4ca4-8b6e-39afb890af81","credentials":{"githubOAuth2Api":{"id":"LneLlU7oB6h73VKJ","name":"GitHub account"}}}],"connections":{"n8n Trigger":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"FileName","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"FileName":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8e0e9ad-5413-4ba3-833e-aa2df146f52e","triggerCount":0,"shared":[{"createdAt":"2025-10-04T12:21:04.274Z","updatedAt":"2025-10-04T12:21:04.274Z","role":"workflow:owner","workflowId":"N0RxnJtZsItUnAfq","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-10-09T16:24:47.305Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-09","isPending":false}}]}}],"tags":[]}]