Send_Menu_Semanal.json
[{"createdAt":"2025-04-08T02:43:47.624Z","updatedAt":"2025-10-12T16:19:00.528Z","id":"riuf2782CDQzqD0m","name":"Send Menu Semanal","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"2e9ac652-87ab-4aea-9330-15f18b08c666","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"15c57d23-d973-4769-b2fe-20626bfd50f5","name":"Webhook","webhookId":"2e9ac652-87ab-4aea-9330-15f18b08c666"},{"parameters":{"promptType":"define","text":"=Toma los datos en el siguiente conjunto de datos menusemanal:   y conviertelos en una tabla de tipo html que muestre el ID de la semana como nombre de la tabla y luego incluya una matriz de datos donde los headears seran los dias de la semana y la primera columna sera desayuno almuerzo y cena. en los puntos de encuentro coloca los nombres de los desayunos, almuerzos y cenas que sean para el dia correcto segun el csv pero no los codigos. esto debe ser para la semana espesifica  solo para la idsemana de los datos  el resutado debe ser solo codigo html con los datos finales para presentar  , Responde con el formato de un correo electronico para usuarios finales.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[576,0],"id":"5072023f-4985-467f-b4a4-e8ce36606219","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[496,224],"id":"8c0f951a-dfee-4036-9da2-8991525ac7cd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"MtUfEa66GZKrxmvu","name":"OpenAi account 2"}}},{"parameters":{"sendTo":"arosol293@gmail.com;jjarosemena@gmail.com","subject":"=Menu semanal {{ $('Webhook').item.json.query.IDSemana }}","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[928,0],"id":"676cffe8-f19b-4019-a999-c17b5d650046","name":"Gmail","webhookId":"efe26c2e-788c-49e8-9489-28e274a36208","credentials":{"gmailOAuth2":{"id":"2NPxYcPwJmkUCEtV","name":"Gmail n8n v2"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[240,560],"id":"05eab6f6-4a5f-40c9-8cd6-8e03e6a56bba","name":"n8n Trigger"},{"parameters":{"method":"PUT","url":"https://n8n.josearosemena.site/webhook/19b85d85-fda8-4e4b-ba07-2d4452bde04e","sendQuery":true,"queryParameters":{"parameters":[{"name":"WorkflowID","value":"={{ $json.workflow_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,560],"id":"2ed61aef-a010-43d4-9476-f6f1d43629d7","name":"HTTP Request2"},{"parameters":{"operation":"getAll","tableId":"MenuSemanal","filters":{"conditions":[{"keyName":"IDSemana","condition":"eq","keyValue":"={{ $('Webhook').item.json.query.IDSEMANA }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"769c2405-9e69-4430-a4fe-f8d87ba35625","name":"Get many rows","credentials":{"supabaseApi":{"id":"jxrwBprqrAGlekwt","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-16,208],"id":"91f4af98-37f3-495b-848f-b84884b46a01","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[]]},"n8n Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c109902a-54e4-4a4a-8a92-086ad8acb95e","triggerCount":2,"shared":[{"createdAt":"2025-04-08T02:43:47.624Z","updatedAt":"2025-04-08T02:43:47.624Z","role":"workflow:owner","workflowId":"riuf2782CDQzqD0m","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-10-12T08:23:22.376Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-12","isPending":false}}]}}],"tags":[]}]