UseSupabase.json
[{"createdAt":"2025-09-18T11:12:32.621Z","updatedAt":"2025-11-13T14:20:02.295Z","id":"wMyeBkp1vgqKNeDM","name":"UseSupabase","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f6c9e1fc-e973-4391-b00f-838a64ef3460","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"Almuerzos","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,0],"id":"e49dfcf6-58e3-4847-9358-e60f3ef8223c","name":"Supabase","credentials":{"supabaseApi":{"id":"jxrwBprqrAGlekwt","name":"Supabase account"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-16,224],"id":"92da5b5c-d0d6-4b35-8a6f-ffd6c28c85ad","name":"n8n Trigger"},{"parameters":{"method":"PUT","url":"https://n8n.josearosemena.site/webhook/19b85d85-fda8-4e4b-ba07-2d4452bde04e","sendQuery":true,"queryParameters":{"parameters":[{"name":"WorkflowID","value":"={{ $json.workflow_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,224],"id":"7cc383b5-cec7-4028-b10d-70597f15b0b8","name":"HTTP Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61b47eaa-2206-4454-bce1-92fd02af3826","triggerCount":2,"shared":[{"createdAt":"2025-09-18T11:12:32.621Z","updatedAt":"2025-09-18T11:12:32.621Z","role":"workflow:owner","workflowId":"wMyeBkp1vgqKNeDM","projectId":"xtqGZ8qr5i3nOMRj","project":{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-27T19:25:03.151Z","id":"xtqGZ8qr5i3nOMRj","name":"Jose Arosemena <jjarosemena@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-22T05:12:49.806Z","updatedAt":"2025-02-22T05:12:49.806Z","userId":"da173e27-3edd-452b-96f7-a1066e92b947","projectId":"xtqGZ8qr5i3nOMRj","user":{"createdAt":"2025-02-22T05:12:48.569Z","updatedAt":"2025-11-13T14:18:47.565Z","id":"da173e27-3edd-452b-96f7-a1066e92b947","email":"jjarosemena@gmail.com","firstName":"Jose","lastName":"Arosemena","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-27T19:26:43.357Z","personalization_survey_n8n_version":"1.78.1","automationGoalDevops":["other"],"companySize":"<20","companyType":"education","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"riuf2782CDQzqD0m","userActivatedAt":1745296876174,"npsSurvey":{"responded":true,"lastShownAt":1750354243201}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-13","isPending":false}}]}}],"tags":[]}]